<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Index - QuickStart Bootstrap Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="/css/main.css" rel="stylesheet">
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- =======================================================
    * Template Name: QuickStart
    * Template URL: https://bootstrapmade.com/quickstart-bootstrap-startup-website-template/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body class="index-page">

<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="/index" class="logo d-flex align-items-center me-auto">
            <img src="/img/logo.png" alt="">
            <h1 class="sitename">
                <div sec:authorize="hasAuthority('MANAGER')" th:text="${authenticationDetails}"></div>
                <div sec:authorize="hasAuthority('EMPLOYEE')" th:text="Employee"></div>
            </h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>

            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="/logout">Logout</a>

    </div>
</header>

<main class="main">
    <section id="services" class="services section light-background">
    <table class="table table-striped" style="width:70%">
        <thead>
        <tr>
            <th scope="col">Employee</th>
            <th scope="col">Job Title</th>
            <th scope="col">Request Type</th>
            <th scope="col">Number of Days</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="leaverequest : ${pendingLeaveRequests}">
            <td><span th:text="${leaverequest.employeeName}"> Employee </span></td>
            <td><span th:text="${leaverequest.jobTitle}"> Job Title </span></td>
            <td><span th:text="${leaverequest.typeOfLeaveRequest}"> Request Type </span></td>
            <td><span th:text="${leaverequest.numberOfDaysForLeaveRequest}"> Number of Days </span></td>
            <td><span th:text="${leaverequest.status}"> Status </span></td>
            <td>
            <span>
                <form ACTION="#" th:action="@{/managers/approve}" th:modelAttribute="leaverequest" method="POST">
     <input type="hidden" th:value="${leaverequest.id}" name="id"/>
                    <!-- ADD ALL THE OTHER FIELDS THAT ARE PART OF THE OBJECT -->
     <button th:if="${leaverequest.status == 'PENDING...'}" type="submit" class="btn btn-outline-success">Approve</button>
</form>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    </section>
</main>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Main JS File -->
<script src="/js/main.js"></script>

</body>

</html>