<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Index - QuickStart Bootstrap Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="/css/main.css" rel="stylesheet">
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- =======================================================
    * Template Name: QuickStart
    * Template URL: https://bootstrapmade.com/quickstart-bootstrap-startup-website-template/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body class="index-page">

<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="/index" class="logo d-flex align-items-center me-auto">
            <img src="/img/logo.png" alt="">
            <h1 class="sitename">
                <div th:text="${authenticationDetails}"></div>
            </h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>

            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="/logout">Logout</a>

    </div>
</header>

<main class="main">

    <!-- Services Section -->
    <section id="services" class="services section light-background">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row g-5">

                <div sec:authorize="hasAuthority('MANAGER')" data-aos="fade-up" data-aos-delay="100">
                    <form ACTION="#" th:action="@{/managers/personaldetails/update}" th:modelAttribute="manager" method="POST">
                        <input type="hidden" th:value="${manager.id}" name="id"/>
                        <p><strong> Name </strong></p>
                        <input th:value="${manager.name}" name="name"/>
                        <p><strong> Email </strong></p>
                        <input th:value="${manager.email}" name="email"/>
                        <p><strong> City </strong></p>
                        <input th:value="${manager.city}" name="city"/>
                        <p><strong> Phone </strong></p>
                        <input th:value="${manager.phoneNumber}" name="phoneNumber"/>
                        <p><strong> Address </strong></p>
                        <input th:value="${manager.address}" name="address"/>
                        <!-- ADD ALL THE OTHER FIELDS THAT ARE PART OF THE OBJECT -->
                        <p></p>
                        <p></p>
                        <button type="submit" class="btn btn-outline-success"> Update details </button>
                    </form>
                </div><!-- End Service Item -->

                <div sec:authorize="hasAuthority('EMPLOYEE')" data-aos="fade-up" data-aos-delay="100">
                    <form ACTION="#" th:action="@{/employees/personaldetails/update}" th:modelAttribute="employee" method="POST">
                        <input type="hidden" th:value="${employee.id}" name="id"/>
                        <p><strong> Name </strong></p>
                        <input th:value="${employee.name}" name="name"/>
                        <p><strong> Email </strong></p>
                        <input th:value="${employee.email}" name="email"/>
                        <p><strong> City </strong></p>
                        <input th:value="${employee.city}" name="city"/>
                        <p><strong> Phone </strong></p>
                        <input th:value="${employee.phoneNumber}" name="phoneNumber"/>
                        <p><strong> Address </strong></p>
                        <input th:value="${employee.address}" name="address"/>
                        <!-- ADD ALL THE OTHER FIELDS THAT ARE PART OF THE OBJECT -->
                        <p></p>
                        <p></p>
                        <button type="submit" class="btn btn-outline-success"> Update details </button>
                    </form>
                </div><!-- End Service Item -->

<!--                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">-->
<!--                    <div class="service-item item-red position-relative">-->
<!--                        <i class="bi bi-bounding-box-circles icon"></i>-->
<!--                        <div>-->
<!--                            <h3>Asperiores Commodi</h3>-->
<!--                            <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident adipisci neque.</p>-->
<!--                            <a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>&lt;!&ndash; End Service Item &ndash;&gt;-->

<!--                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">-->
<!--                    <div class="service-item item-indigo position-relative">-->
<!--                        <i class="bi bi-calendar4-week icon"></i>-->
<!--                        <div>-->
<!--                            <h3>Velit Doloremque.</h3>-->
<!--                            <p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at autem alias eius labore.</p>-->
<!--                            <a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>&lt;!&ndash; End Service Item &ndash;&gt;-->

<!--                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">-->
<!--                    <div class="service-item item-pink position-relative">-->
<!--                        <i class="bi bi-chat-square-text icon"></i>-->
<!--                        <div>-->
<!--                            <h3>Dolori Architecto</h3>-->
<!--                            <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti recusandae ducimus enim.</p>-->
<!--                            <a href="#" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>&lt;!&ndash; End Service Item &ndash;&gt;-->

            </div>

        </div>

    </section><!-- /Services Section -->

</main>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Main JS File -->
<script src="/js/main.js"></script>

</body>

</html>